<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
         <ion-buttons>
            <ion-menu-button>
              <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Chat
          </ion-title>
        </ion-col>
        <ion-col size="2">
            <ion-icon class="logo_notificacion" size="large" name="notifications-outline" [routerLink]="['/notificacion']"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="100">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list #lista>

    <ion-item-sliding *ngFor="let item of list_mensajes; let idx=index">
      
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="item.emisor.foto ">
        </ion-avatar>
        <ion-label (click)="iniciar_chat(item)">
          
          <h3>{{ item.emisor.username }}</h3>
          <p>
            Nuevo Mensaje {{ item.articulo.titulo }}
          </p>
          <p>
            {{ item.mensaje }}
          </p>
        </ion-label>
  
      </ion-item>
      <ion-item-options side="end">
        
        <ion-item-option color="danger" (click)="borrar(item, idx)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

      </ion-item-options>
      

    </ion-item-sliding>
    
  </ion-list>
</ion-content>