<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
         <ion-buttons>
            <ion-menu-button>
              <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Comprados
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="logo_notificacion" size="large" name="cart" [routerLink]="['/chech']"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of list_comprados">
        <ion-row>
          <ion-col size="6">
            <img class="img_dimenciones" [src]="item.foto">
          </ion-col>
          <ion-col size="6">
            <ion-text color="dark">
              <h5>{{ item.titulo }}</h5>
              <h6>{{ item.estado }}</h6>
              <h5>{{ item.costopromosion || item.costoventa }}</h5>
              <p>¡Compralo ahora!</p>
              <p>{{ item.envio || 'envio'}}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center" *ngIf="list_comprados.length === 0">
    <ion-text colo="dark">
      <span>Lista Vacia</span>
    </ion-text>
  </div>
</ion-content>