<br>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button>
      <ion-icon size="large" name="menu"></ion-icon>
    </ion-menu-button>
  </ion-buttons>

  <ion-img src="./assets/dilisap.png"></ion-img>
  
  <ion-segment scrollable mode="md" color="primary" (ionChange)="selectCategoria( $event )">
    <ion-segment-button mode="md" [value]="item" *ngFor="let item of listCategoria">
      <ion-label text-capitalize> {{ item.name }} </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar placeholder="Buscar Pelicula" animated debounce="700" [value]="textoBuscar"
    (ionChange)="buscar( $event )"></ion-searchbar>

</ion-toolbar>