<ion-content>
  <!-- <img [src]="pelicula.backdrop_path | imagen" *ngIf="pelicula.backdrop_path"> -->
  <!-- <ion-label class="titulo">
    <h1>{{ 'hola todo' }}</h1>
  </ion-label> -->
  <ion-slides [options]="slideProductos">
    <ion-slide *ngFor="let actor of [1,2,3]">
      <img src="https://www.dhresource.com/600x600/f2/albu/g6/M00/F0/98/rBVaSFvUUZGAZ4xYAAIIeEgRe3o162.jpg">
    </ion-slide>
  </ion-slides>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h5>{{ 'hola todo' }}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <p color="primary"> ${{ (dataArt.precio || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }} </p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="full">
          COMPRAR
        </ion-button>
        <ion-button color="primary" expand="full" (click)="data_chat()">
          CONSULTAR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h5>Descripcion</h5>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-label [innerHtml]="dataArt.descripcion">
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-chip *ngFor="let categoria of dataArt.categorias" color="primary">
          <ion-label>{{ categoria.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Comentarios
    </ion-list-header>

    <ion-item *ngFor="let comentario of dataArt.comentarios">
      <ion-avatar slot="start">
        <img [src]="comentario.foto || './assets/perfil.png'">
      </ion-avatar>
      <ion-label>
        <h2>{{ comentario.username }}</h2>
        <h3>{{ comentario.createad }}</h3>
        <ion-text color="dark">
          <p>{{ comentario.mensaje }}</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-label>Actores</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slideOptActores">
    <ion-slide *ngFor="let actor of actores">
      <ion-card class="card-actor">
        <img *ngIf="!actor.profile_path" src="./assets/no-avatar.jpg">
        <img *ngIf="actor.profile_path" [src]="actor.profile_path | imagen">

        <ion-label class="actor-name">{{ actor.name }}</ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides> -->

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favorito()">
        <ion-label>Favorito</ion-label>
        <ion-icon slot="start" [name]="estrella"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>