<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
         <ion-buttons>
            <ion-menu-button>
              <ion-icon class="padding_menu" size="large" name="menu"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Chat
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher pullFactor="0.2" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="row">
          <div class="col-2">
            <ion-avatar>
              <img [src]="id_articulo.foto">
            </ion-avatar>
          </div>
          <div class="col p-3">
            <ion-text class="p-3" color="dark" [routerLink]="['/productoview', id_articulo.id]" >
              <span>{{ id_articulo.titulo }}</span><br>
              <span class="p-3">{{ (id_articulo.costoventa || 0).toLocaleString('de-DE', { style: 'currency', currency: 'COP' })}}</span>
            </ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
    <ion-content id="chat-container" #content>
      <ion-row *ngFor="let conv of list_mensajes; let i = index;" class="full no-padding">
        <ion-col class="no-padding chat-row" [ngClass]="{ 'reverse': conv.sender}">
          <div class="avatar-parent">
            <div class="avatar-border"></div>
            <img [src]="conv.foto || './assets/imagenes/perfil.png'" class="avatar">
          </div>
          <div [ngClass]="{ 'name-row-parent-right': conv.sender,'name-row-parent-left': !conv.sender}">
            <div class="no-padding" [ngClass]="{ 'name-row-right': conv.sender,'name-row-left': !conv.sender}">
              {{ conv.user }}
              <div [ngClass]="{ 'timer-right': conv.sender,'timer-left': !conv.sender}">{{i+5}} mins ago
                <ion-icon *ngIf="conv.sender && conv.sent" name="checkmark" [color]="conv.read ? 'd3green': 'light'"
                  class="first-tick"></ion-icon>
                <ion-icon *ngIf="conv.sender && conv.delivered" name="checkmark"
                  [color]="conv.read ? 'd3green': 'light'" class="second-tick"></ion-icon>
              </div>
              <div [ngClass]="{ 'reverse-arc-right': conv.sender,'reverse-arc-left': !conv.sender}">
                <div [ngClass]="{ 'reverse-arc-color-right': conv.sender,'reverse-arc-color-left': !conv.sender}"></div>
              </div>
            </div>
            <div class="no-padding" [ngClass]="{ 'message-row-right': conv.sender,'message-row-left': !conv.sender}">
              <ion-text class="text ion-no-margin">{{conv.mensaje}}</ion-text>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-content>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <form [formGroup]="myForm_chat" (ngSubmit)="submit_mensaje()">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-input formControlName="mensaje" placeholder="Escriba un mensaje"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button color="dark" type="submit">
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-footer>