<ion-content id="ion-content-login">
  <br><br>
  <ion-toolbar id="ion-content-login">
    <div class="ion-text-center">
      <img class="logo2" [src]="'./assets/imagenes/Logo2.png'">
    </div>
  </ion-toolbar>
  <form [formGroup]="myForm_login" (ngSubmit)="submit_login()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Username <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="username" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="name" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Celular
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="celular" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Correo Electronico <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="email" required type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Contraseña <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="password" required type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-color-lavel" position="stacked">Confirmar Contraseña <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="ion-color-lavel" formControlName="confirpassword" required type="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <br>
  <br>
  <div class="ion-text-center">
    <div>
      <ion-button (click)="submit_login()" class=".ion-button-login" color="dark">REGISTRARTE</ion-button>
    </div>
    <ion-text class="ion-color-lavel">
      <h6 (click)="cerrarModal()">¿Ya tienes cuenta?</h6>
    </ion-text>
  </div>
</ion-content>